*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    font-family: "Poppins", sans-serif;
}

.menu{
    padding-top: 200px;
    font-size: 20px;
}

.menu > button{
    text-decoration: none;
    color: #a7a7a7;
    padding: 10px 24px;
    margin-left: 50px;
    position: relative;
    border-radius: 10px;
    border: none;
    display: block;
    cursor: pointer;
    height: 40px;
    margin: 10px;
    margin-left: 220px;
    width: 10%
}

.menu > button:hover{
    background-color: #6d63ff ;
}

.menu > button:focus{
    background-color: #6d63ff;
}
