#text{
    width: 50%;
    margin: auto;
    margin-top: -155px;
    margin-left: 500px;
    font-size: 20px;
    display: flex;
    position: relative;
}

.menu .image-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.menu .image-container img {
    margin: auto;
    margin-left: 600px;
    margin-bottom: 450px;
    width: 100px;
    height: 100px;
}

.text-container{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 350px;
}
